<footer id="site-footer">
   <div class="panel">
       <img src="{{site.baseurl}}/images/assets/kanshu_logo.png" alt="" class="logo">
       <div class="center-text">
           <h2>Give it a try?</h2>
           <img src="{{site.baseurl}}/images/assets/ituens_store.png" alt="">
           <img src="{{site.baseurl}}/images/assets/play_store.png" alt="">
           <h2 class="share">Share with your friends.</h2>
           <div class="circles">
               <a href="http://www.twitter.com/{{site.twitter}}"><div class="circle"><i class="fa fa-twitter fa-lg"></i></div></a>
               <a href="http://www.facebook.com/{{site.facebook}}"><div class="circle"><i class="fa fa-facebook fa-lg"></i></div></a>
                <a href="http://www.plus.google.com/{{site.google-plus}}"><div class="circle"><i class="fa fa-google-plus fa-lg"></i></div></a>
                <a href="mailto:{{site.email}}"><div class="circle"><i class="fa fa-envelope-o fa-lg"></i></div></a>
           </div> 
       </div>
   </div>
   <div class="copyright">
       Kashu all rights reserved ©2015
   </div>
</footer>
