<header class="site-header">
  
  <div class="header-container">
    
    <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/images/assets/logo-small.png" alt="" class="logo-small" />{{ site.title }}</a>
    <div class="hero-content">
        <div class="content-container-hero">
            <img src="{{site.baseurl}}/images/assets/kanshu_logo.png" alt="" class="logo" />
            <h1 class="hero-title">Lorem ipsum dolor sit</h1>
            <h3 class="hero-slug">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo beatae nobis nemo repellendus officiis voluptatem optio, consequuntur, eveniet nam dolor.</h3>
            <img src="{{site.baseurl}}/images/assets/ituens_store.png" alt="" class="itunes" />
            <img src="{{site.baseurl}}/images/assets/play_store.png" alt="" class = "play" />
            <img src="{{site.baseurl}}/images/assets/ituens_store_small.png" alt="" class="itunes-small" />
            <img src="{{site.baseurl}}/images/assets/play_store_small.png" alt="" class = "play-small" />
        </div>
    </div>
    <div class="hero-device">
        <img src="{{site.baseurl}}/images/assets/top-section-iphone-white.png" alt="" class="top-section-iphone-white"/>
        <img src="{{site.baseurl}}/images/assets/top-section-iphone-white-small.png" alt="" class="top-section-iphone-white-small">
    </div>          
  </div>

</header>

<nav role="navigation">
    <ul>
        <a href="#panel-one"><li>Lorem</li></a>
        <a href="#panel-two"><li>Quibusdam</li></a>
        <a href="#panel-three"><li>Quae</li></a>
        <a href="#panel-four"><li>Eos</li></a>
        <a href="#site-footer"><li>Sit</li></a>
    </ul>
</nav>